__pycache__/
*.pyc
.env
venv/
.DS_Store
last_scan.json
last_momentum_scan.json
iv_history.json
did.bin
webull_credentials.json
webull_data_sdk.log
last_orb_scan.json
conf/
3sigma_bot.log
last_bollinger_scan.json
last_3sigma_scan.json
last_2sigma_scan.json
last_52w_scan.json
last_rsidiv_scan.json
scratch/
